<body>
  <main>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-5 mt-5">
          <h3 class="text-center">商品一覧</h3>
        </div>
        <div class="col-md-7 mt-5">
          <%= link_to "+", '/admin/items/new', class:"btn btn-outline-secondary"%>
        </div>
      </div>
      <div class="row col-md-12 mt-4" >
          <table class='table table-borderless'>
             <thead class="thead-light">
              <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
                <th>ジャンル</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <% @items.each do |item| %>
              <tbody>
                <tr>
                  <td class="text-left"><%= item.id %></td>
                  <td>
                    <%= link_to admin_item_path(item.id) do %>
                      <%= item.name %>
                    <% end %>
                  </td>
                  <td class="text-left"><%= item.price %></td>
                  <td class="text-left"><%= item.genre.name %></td>
                  <td>
                    <% if item.is_active == true %>
                      <p class="text-success ">販売中</p>
                    <% else %>
                      <p class="text-secondary ">販売停止中</p>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
      </div>
    　<div class="col-md-12 offset-5">
        <%= paginate @items %>
      </div>
    </div>
  </main>
</body>