<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h3 class="col-5 my-4">注文履歴詳細</h3>
  </div>
  <div class="row mt-3 d-flex align-items-center">
    <div class="col-md-2">
      <h5 class= "font-weight-bold">購入者</h5>
    </div>
    <div class="col-md-5 h5">
      <%= @order.customer.last_name + @order.customer.first_name %>
    </div>
  </div>
  <div class="row mt-1 d-flex align-items-center">
    <div class="col-md-2">
      <h5 class= "font-weight-bold">注文日</h5>
    </div>
    <div class="col-md-5 h5">
      <%= @order.created_at.strftime("%Y/%m/%d") %>
    </div>
  </div>
  <div class="row mt-1 d-flex align-items-center">
      <div class="col-md-2">
      <h5 class= "font-weight-bold">配送先</h5>
    </div>
    <div class="col-md-5 h5">
      〒<%= @order.postal_code %>
      <%= @order.address.truncate(30) %></br>
      <%= @order.name %>
    </div>
  </div>
  <div class="row mt-1 d-flex align-items-center">
    <div class="col-md-2">
      <h5 class= "font-weight-bold">支払方法</h5>
    </div>
    <div class="col-md-5 h5">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row mt-1 d-flex align-items-center">
    <div class="col-md-2">
      <h5 class= "font-weight-bold">注文ステータス</h5>
    </div>
    <div class="col-md-5 h5">
      <%= form_with(model: @order, url: admin_order_path, method: :patch, local: true) do |f| %>
        <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}, class:"status"%>
        <%= f.submit "更新",class: "btn btn-success ml-4" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-8">
      <table class="table table-bordered border-dark">
        <tr class="table-secondary">
          <th>商品</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 d-flex align-items-end ml-5">
      <table class="table table-borderless">
        <tr>
          <th class="font-weight-bold h5">商品合計</th>
          <td class="text-right h5"><%= (@order.total_price - @order.shipping_cost).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="font-weight-bold h5">送料</th>
          <td class="text-right h5"><%= @order.shipping_cost.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="font-weight-bold h5">請求金額合計</th>
          <td class="text-right font-weight-bold h5"><%= @order.total_price.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>