<div class="container">
  <div class="row text-center">
    <div class="col-md-4 mt-5">
      <h3 class="text-center">配送先登録・一覧</h3>
    </div>
  </div>
  <div class="col-md-12 mt-5">
    <%= form_with model: @address, url: addresses_path, local: true do |f| %>
      <div class="row form-group pt-2">
        <div class="col-3 d-flex align-items-center">郵便番号(ハイフンなし)</div>
        <div><%= f.text_field :postal_code, size: "30x1", placeholder:"0000000", class:"form-control" %></div>
      </div>
      <div class="row form-group pt-2">
        <div class="col-3 d-flex align-items-center"><%= f.label "住所" %></div>
        <div><%= f.text_field :address, size: "50x1", placeholder:"東京都渋谷区代々木神園町0-0", class:"form-control" %></div>
      </div>
        <div class="row form-group pt-2">
          <div class="col-3 d-flex align-items-center">宛名</div>
          <div><%= f.text_field :name, size: "30x1", placeholder:"令和道子", class:"form-control" %></div>
          <%= f.submit '新規登録' , class:"btn btn-success ml-5 col-md-2" %>
        </div>
    <% end %>
    <div class="row col-md-10 mt-5" >
      <table class='table table-bordered'>
        <thead class="thead-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <% @addresses.each do |address| %>
          <tbody>
            <tr>
              <td class="text-left"><%= address.postal_code %></td>
              <td class="text-left"><%= address.address %></td>
              <td class="text-left"><%= address.name %></td>
              <td>
                <%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
                <%= link_to "削除する", address_path(address), method: :delete, "data-confirm" => "本当に消しますか？" , class: "btn btn-danger" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>