<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h3 class="col-md-6">注文情報入力</h3>
    </div>
  </div>
  <%= form_with model: @order, url: confirm_orders_path, local: true do |f| %>
    <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="col-md-6">支払方法</h4>
    </div>
      <div class="row col-md-12 ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      </div>
      <div class="row col-md-12 ml-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8 mt-3">
        <h4 class="col-md-6">お届け先</h4>
         <div class="row col-md-12 ml-5">
          <%= f.radio_button :address_select, 0, checked: "checked" %>
          <%= f.label :order_address, "ご自身の住所" %><br>
          〒<%= current_customer.postal_code %>
          <%= current_customer.address %><br>
          <%= current_customer.full_name %>
        </div>
        <div class="row col-md-12 ml-5">
          <%= f.radio_button :address_select, 1 %>
          <%= f.label :order_address, "登録済住所から選択" %>
          <br>
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :full_address) %>
        </div>
        <div class="row col-md-12 ml-5">
          <%= f.radio_button :address_select, 2 %>
          <%= f.label :order_address, "新しいお届け先" %>
          <br>
          <table>
            <tr>
              <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
              <td><%= f.text_field :postal_code　%></td>
            </tr>
            <tr>
              <td><%= f.label :ddress, "住所" %></td>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <td><%= f.label :name, "宛名" %></td>
              <td><%= f.text_field :name %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-center py-5">
      <%= f.submit "確認画面へ進む" , class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
