<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h3 class="col-md-6">注文履歴詳細</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class='col-md-7'>
      <h5>注文情報</h5>
      <table class="table table-bordered border-dark">
        <tr>
          <th class="table-secondary">注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th class="table-secondary">配送先</th>
          <td>
            <p class="mb-0" style="line-height:1.2em">
              〒<%= @order.postal_code %></br>
              <%= @order.address.truncate(30) %></br>
              <%= @order.name %>
            </p>
          </td>
        </tr>
        <tr>
          <th class="table-secondary">支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th class="table-secondary">ステータス</th>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>
    <div class='col-md-4'>
      <h5>請求情報</h5>
      <table class="table table-bordered border-dark">
        <tr>
          <th class="table-secondary">送料</th>
          <td><%= @order.shipping_cost.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="table-secondary">商品合計</th>
          <td><%= (@order.total_price - @order.shipping_cost).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="table-secondary">請求金額</th>
          <td><%= @order.total_price.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class='row-3 mt-3'>
    <h5>注文内容</h5>
  </div>
  <div class='row'>
    <div class='col-md-9'>
      <table class='table table-bordered border-dark'>
        <tr class="table-secondary">
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>